
1 VERSIONINFO
FILEVERSION 1,1,7,0
PRODUCTVERSION 1,0,0,0
FILEOS 0x4
FILETYPE 0x1
{
 BLOCK "StringFileInfo"
 {
  BLOCK "040904b0"
  {
   VALUE "FileDescription", "harbour File Manager 32 Bit\000"
   VALUE "FileVersion", "0.6.9.0"
   VALUE "InternalName", "HBFM\000"
   VALUE "LegalCopyright", "Copyright © 1983-2020 Yiu-Software\000"
   VALUE "LegalTrademarks", "Harbour"
   VALUE "OriginalFilename", "HBFM.EXE"
   VALUE "CompanyName", "Yiu-Software"
   VALUE "ProductName", "HBFM\000"
   VALUE "ProductVersion", "1.0.0.0"
   VALUE "Comments", "Created by Auge & Ohr\000"
  }
}

BLOCK "VarFileInfo"
{
 VALUE "Translation", 0x0409, 1252
 }
}

A1MAIN          ICON RES\NCC.ico
ICOCONFIG32     ICON RES\Config32.ico
ICOREG          ICON RES\REG100.ICO
ICOPDF          ICON RES\IcoPDF.ico
ICOUPDIR        ICON RES\Blue_up.ico
ICOSEARCH       ICON RES\SUCHE.ICO
ICOHISTORY      ICON RES\History.ico
ICOFOLDER       ICON RES\CFOLDER.ICO
ICOATTR         ICON RES\Attribut.ico
ICODEPART       ICON RES\IcoAbflug.ico    
ICOARRIVE       ICON RES\IcoAnkunft.ico 
ICOONFLY        ICON RES\IcoFlight.ico
ICOEXCEL        ICON RES\EXCEL.ICO
ICOFTP          ICON RES\Cloud_White.ico
ICOINFO         ICON RES\Info.ico
ICOBAG          ICON RES\Bag.ico
MYSUMATRA       JPG  RES\Sumatra_F1.JPG
MYUNKNOWN       BITMAP RES\IcoDriveUnknown.BMP
MYFIXDRIVE      BITMAP RES\IcoDrive.BMP
MYFLOPPY        BITMAP RES\IcoFloppy.BMP
MYUSBREMO       BITMAP RES\IcoSDcard.BMP
MYSYSDRIVE      BITMAP RES\IcoDriveSys.BMP
MYNETDRIVE      BITMAP RES\IcoNetDrive.BMP
MYCDROM         BITMAP RES\IcoCDROM.BMP
MYRAMDISK       BITMAP RES\IcoRAM.BMP
MYUSBSTICK      BITMAP RES\IcoUSBstick.BMP
MYUNKNOWN16     BITMAP RES\IcoDriveUnknown16.BMP
MYFIXDRIVE16    BITMAP RES\IcoDrive16.BMP
MYFLOPPY16      BITMAP RES\IcoFloppy16.BMP
MYUSBREMO16     BITMAP RES\IcoSDcard16.BMP
MYSYSDRIVE16    BITMAP RES\IcoDriveSys16.BMP
MYNETDRIVE16    BITMAP RES\IcoNetDrive16.BMP
MYCDROM16       BITMAP RES\IcoCDROM16.BMP
MYRAMDISK16     BITMAP RES\IcoRAM16.BMP
MYUSBSTICK16    BITMAP RES\IcoUSBstick16.BMP
MYEXIT16        BITMAP RES\EXIT16.BMP
MYRELOAD        BITMAP RES\reload.bmp
MYCOMPARE       BITMAP RES\Compare.bmp
MYEJECTUSB      BITMAP RES\EJECTUSB.bmp
MYCLIPBOARD     BITMAP RES\CLIPBOARD.BMP
MYEXIT          BITMAP RES\EXIT.BMP
MYOK            BITMAP RES\ok.bmp
MYCONFIG        BITMAP RES\CONFIG32.BMP
MYREG           BITMAP RES\REG100.BMP
MYUPDIR         BITMAP RES\BLUE_UP.BMP
MYDATE16        BITMAP RES\OTB_DATE16.BMP
MYNAME16        BITMAP RES\OTB_NAME16.BMP
MYSIZE16        BITMAP RES\OTB_SIZE16.BMP
MYTYPE16        BITMAP RES\OTB_TYPE16.BMP
MYSIDETREE16    BITMAP RES\VIEW_SIDETREE16.BMP
MYVIEWTREE16    BITMAP RES\VIEW_TREE16.BMP
MYUPDIR16       BITMAP RES\BLUE_UP16.BMP
MYOKGREEN       BITMAP RES\OKGRUEN.BMP
MYOKGREEN16     BITMAP RES\OKGRUEN16.BMP
MYHISTORY       BITMAP RES\HISTORY.BMP
MYFOLDER        BITMAP RES\CFOLDER.BMP
MYFOLDER16      BITMAP RES\CFOLDER16.BMP
MYNEW           BITMAP RES\NEW.BMP
MYNEW16         BITMAP RES\NEW16.BMP
MYDBF16         BITMAP RES\GEM16.BMP
MYMEMO16        BITMAP RES\RUBY16.BMP
MYPDF16         BITMAP RES\ICOPDF16.BMP
MYRES16         BITMAP RES\PEARL16.BMP
MYPRG16         BITMAP RES\SAPPHIRE16.BMP
MYEXE16         BITMAP RES\PROBLEM16.BMP
MYHBP16         BITMAP RES\AUTOBAHN16.BMP
MYINDEX16       BITMAP RES\GARNET16.BMP
MYKEYBOARD      BITMAP RES\Keyboard1.BMP
MYFINGER        BITMAP RES\Finger1.BMP
MYATTR16        BITMAP RES\ATTRIBUT16.BMP
MYFILEATTR      BITMAP RES\ATTRIBUT.BMP
MYTHUMB16       BITMAP RES\THUMBS16.BMP
MYTHUMB32       BITMAP RES\THUMBS32.BMP
MYWAIT          BITMAP RES\COLORS.BMP
MYCHECK16       BITMAP RES\check16.bmp
MYUNCHECK16     BITMAP RES\uncheck16.bmp
MYSPLASH        BITMAP RES\AUGE_OHR.bmp
MYPHONE         BITMAP RES\SmartPhone.BMP
MYNETWORK       BITMAP RES\NETWORK.BMP
MYCONNECT       BITMAP RES\Connect_NET.BMP
MYDISCONNECT    BITMAP RES\Disconnect_NET.bmp
MYROTATER16     BITMAP RES\ROTATERIGHT16.BMP
MYROTATEL16     BITMAP RES\ROTATELEFT16.BMP
MYFTP32         BITMAP RES\CLOUD_WHITE32.BMP
MYFTP16UP       BITMAP RES\BLUE_FORWARD16.BMP
MYFTP16DOWN     BITMAP RES\BLUE_BACK16.BMP 
MYFTPFOLDER	BITMAP RES\folder.bmp
MYFTPFILE	BITMAP RES\file.bmp
MYINFO32        BITMAP RES\INFO32.BMP
MYBAG32         BITMAP RES\BAG32.BMP
HAND            CURSOR res\hand.cur
FINGER          CURSOR res\finger.cur
